/* Colors */

$background: #040404;
$panel: #010101;
$border: #0a0a0a;


$accent: #CBA135;
$accent-hover: #A28102;

$text: #DDD;
$light-text: #888;

/* Fonts */



$header-font: 'Roboto Condensed', sans-serif;
$content-font: 'Roboto', sans-serif;


