@charset "utf-8";

@import "compass/css3";
@import 'normalize';
@import 'reset';
@import 'variables';
@import 'utilities';
@import 'shame';


html {
  font-size: 62.5%;
  font-weight: 300;
}

html, body {
  height: 100%;
}

.globals {

  background: $background;
  color: $text;
  font-family: $content-font;

  word-wrap: break-word;



}



a {
  color: $accent;

  &:hover {
    color: $accent-hover;
  }

  @include transition(all 150ms ease 0s);
}

p {
  line-height: 1.5;
}




.header {

  position: fixed;
  top: 0;
  left: -160px;
  width: 160px;
  height: 100%;
  background: $panel;
  border-right: 1px solid $border;
  font-family: $header-font;

  &__logo {
    width: 120px;
  }

  &__title {
    font-size: 2.2rem;
    font-weight: normal;
    text-transform: uppercase;
  }

  a {
    color: #FFF;
  }

}

.home-link {
  display: block;
  margin-right: -1px;
  border-right: 1px solid transparent;
  border-bottom: 1px solid $border;
  padding: 10px 20px;

}

.nav {
  &__item {
    border-bottom: 1px solid $border;
  }

  &__link {
    display: block;
    padding: 10px 20px;
    text-align: right;
    margin-right: -1px;
    border-right: 1px solid transparent;
    font-size: 1.4rem;

    &:hover {
      border-right: 1px solid $accent-hover;
      background: $background;
    }
  }
}



.nav-close {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid $border;
  padding: 10px 20px;
}




.logo {
  float: left;
  padding-top: 5px;
  padding-right: 6px;
  border-collapse: separate;
  border-spacing: 1px;
  td {
    background: #FFF;
    padding: 2px;
  }
}


.offset-top {
  padding-top: 20px;
}
.offset-left {
  padding-left: 20px;
}

@media all and (min-width: 800px) {
  .offset-left {
    padding-left: 200px;;
  }
}




.nav-open {
  display: block;
  position: fixed;
  bottom: 10px;
  left: 10px;

  background: rgba(0, 0, 0, 0.9);
  border: 1px solid $border;
  padding: 5px 10px;


  &__name {
    display: inline-block;
  }
  &__icon {
    display: inline-block;
  }

}


.bar {
  width: 20px;
  height: 3px;
  background: #FFF;
  margin-bottom: 2px;
  &:last-of-type {
    margin-bottom: 0px;
  }
}




@media all and (min-width: 800px) {
  .header {
    left: 0;
  }

  .nav-open {
    display: none;
  }
  .nav-close {
    display: none;
  }


}


.content {
  min-height: 100%;
  margin-bottom: -100px;
  padding-right: 20px;
}

.content:after {
  content: " ";
  display: block;
  height: 100px;
}

.page-title {
  margin-bottom: 10px;
  color: #FFF;
  font-size: 4rem;
  line-height: 1;

}

.banner {
  p {
    font-size: 2rem;
    color: #FFF;
  }
}






.row {
  max-width: 640px;
  margin-bottom: 20px;
  border-bottom: 1px solid $border;
  font-size: 1.4rem;

  &__title {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #FFF;
  }

  p {
    margin-bottom: 20px;
  }


  .last-updated {
    font-size: 1.2rem;
  }


}


.title-row {
  padding-bottom: 20px;
  p {
    margin-bottom: 0;
    font-size: 1.6rem;
  }
}


.portfolio-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: #FFF;
  font-size: 4rem;
  line-height: 1rem;
  opacity: 0;
  @include transition(all 150ms ease 0s);
}

.featured-work-list {
  margin-bottom: 20px;

  &__item {
    position: relative;
    margin-bottom: 10px;

  }

  &__link {
    display: block;

    &:hover .portfolio-overlay {
      opacity: 1;

    }

  }

  &__img {
    width: 100%;
  }



}



.list-title {
  margin-bottom: 20px;
}
.content-list {
  padding-bottom: 10px;
  list-style: square outside;

  p {
    margin-bottom: 0;

  }


  &__item {
    margin-bottom: 10px;
    list-style: square outside;

  }

}



.contact-info {
  margin-bottom: 20px;


  &__link {
    display: block;
    border: 1px solid $border;
    margin-bottom: 10px;
    padding: 20px;

  &:hover {
    border: 1px solid $accent-hover;
    background: $panel;
  }

  }


  &__icon {
    float: left;
    margin-right: 20px;
    svg {
      fill: #FFF;
    }
  }

  &__type {
    display: block;
    font-size: 1.2rem;
    color: $text;
  }
  &__name {
    font-size: 1.6rem;
  }

}

.portfolio-options {
  float: left;
  margin-bottom: 20px;


  li {
    float: left;
    margin-right: 4px;
  }

  &__item {
    display: block;
    margin-bottom: 4px;
    padding: 4px 18px;
    border: 1px solid $border;
    color: $light-text;

    &:hover {
      border: 1px solid $accent-hover;
    }
  }

  .active-filter {
    border: 1px solid $accent-hover;
    color: $accent-hover;
  }

}
.portfolio-items {
  padding-bottom: 10px;
  li {
    margin-bottom: 10px;
  }
  img {
    width: 100%;
  }
}




.toggle {
  font-size: 1.8rem;
}


.footer {
  height: 100px;
  border-top: 1px solid $border;
  padding-top: 20px;
}


.scrolltop {
  display: none;
  position: fixed;
  right: 10px;
  bottom: 10px;

  &__button {
    display: block;
    border: 1px solid $border;
    @include border-radius(50%);
    background: rgba(0, 0, 0, 0.9);
    padding: 2px 8px 8px 8px;
    line-height: 1;
    font-size: 2.4rem;
    color: $light-text;

    &:hover {
      border: 1px solid $accent-hover;
    }
  }

}


.list-title {
  font-size: 2rem;
}


.article-title {
  font-size: 2rem;
}
.article-date {
  font-size: 1.2rem;
}