---
title: Index | Ozy Wu-Li - Interactive Designer and Developer
page: Index
---

<div class="row banner">
  <h1 class="page-title">Interactive Designer and Developer</h1>
  <p>Hello, my name is Ozy. I seek to help make the web a more helpful, accessible, and enjoyable place for all. <a href="portfolio.html">Check out my work</a>. Currently employed full-time at <a href="http://www.lamag.com">Los Angeles magazine</a> but open to freelance projects or other collaborative work.</p>
  <p>Follow me on <a href="https://www.twitter.com/ozy_wuli">Twitter</a> or send me an <a href="mailto:ozy.wu.li@gmail.com">email</a>.</p>
</div>

<div class="row">
  <h2 class="row__title">Featured Work</h2>

  <ul class="portfolio-items js-portfolio-items">


    <li class="all personal tumblr">
      <a href="https://www.tumblr.com/theme/39138" target="_blank" class="portfolio-items__link">
        <div class="portfolio-item-overlay">
          <h3 class="portfolio-item-overlay__title">Scriber</h3>
        </div>
        <img src="img/banners/scriber.png" alt="Scriber">
      </a>
    </li>

  </ul>

</div>