---
title: Portfolio | Ozy Wu-Li - Interactive Designer and Developer
page: Portfolio
---

<div class="title-row row">
  <h1 class="page-title"><%= current_page.data.page %></h1>

  <p>Here is a selection of web projects that I've worked on since 2014.</p>

</div>


<div class="row clearfix">



  <ul class="js-portfolio-options portfolio-options clearfix">
    <li><a href="#" class="js-portfolio-option portfolio-options__item active-filter" data-filter=".all">All</a></li>
    <li><a href="#" class="js-portfolio-option portfolio-options__item" data-filter=".featured">Featured</a></li>
    <li><a href="#" class="js-portfolio-option portfolio-options__item" data-filter=".clients">Clients</a></li>
    <li><a href="#" class="js-portfolio-option portfolio-options__item" data-filter=".personal">Personal</a></li>
    <li><a href="#" class="js-portfolio-option portfolio-options__item" data-filter=".data">Data Visualization</a></li>
    <li><a href="#" class="js-portfolio-option portfolio-options__item" data-filter=".maps">Maps</a></li>
    <li><a href="#" class="js-portfolio-option portfolio-options__item" data-filter=".graphics">Graphics</a></li>
    <li><a href="#" class="js-portfolio-option portfolio-options__item" data-filter=".tumblr">Tumblr</a></li>
    <li><a href="#" class="js-portfolio-option portfolio-options__item" data-filter=".wordpress">Wordpress</a></li>


  </ul>

</div>

<div class="row">

<ul class="portfolio-items js-portfolio-items">
  <li class="all clients">
    <a href="#" class="portfolio-items__link">
      <img src="img/banners/scriber.png" alt="">
    </a>
  </li>
  <li class="all personal">
    <a href="#" class="portfolio-items__link">
      <img src="img/banners/scriber.png" alt="">
      </a>
  </li>
  <li class="all tumblr">
    <a href="#" class="portfolio-items__link">
      <img src="img/banners/scriber.png" alt="Scriber tumblr theme">
    </a>
  </li>
  <li class="all wordpress">
    <a href="#" class="portfolio-items__link">
      <img src="img/banners/scriber.png" alt="">
    </a>
  </li>
  <li class="all graphics">
    <a href="#" class="portfolio-items__link">
      <img src="img/banners/scriber.png" alt="">
    </a>
  </li>
  <li class="all data">
    <a href="#" class="portfolio-items__link">
      <img src="img/banners/scriber.png" alt="">
    </a>
  </li>
  <li class="all clients">
    <a href="#" class="portfolio-items__link">
      <img src="img/banners/scriber.png" alt="">
    </a>
  </li>
</ul>

</div>


<%= partial 'partials/scrolltop' %>