---
title: Portfolio | Ozy Wu-Li - Interactive Designer and Developer
page: Portfolio
---

<div class="title-row row">
  <h1 class="page-title"><%= current_page.data.page %></h1>

  <p>Here is a selection of web projects that I've worked on since 2014.</p>

</div>


<div class="row clearfix">


  <ul class="js-portfolio-options portfolio-options clearfix">
    <li><a href="#" class="js-portfolio-option portfolio-options__item active-filter" data-filter=".all">All</a></li>
    <li><a href="#" class="js-portfolio-option portfolio-options__item" data-filter=".featured">Featured</a></li>
    <li><a href="#" class="js-portfolio-option portfolio-options__item" data-filter=".clients">Clients</a></li>
    <li><a href="#" class="js-portfolio-option portfolio-options__item" data-filter=".data">Data Visualization</a></li>
    <li><a href="#" class="js-portfolio-option portfolio-options__item" data-filter=".graphics">Graphics</a></li>
    <li><a href="#" class="js-portfolio-option portfolio-options__item" data-filter=".maps">Maps</a></li>
    <li><a href="#" class="js-portfolio-option portfolio-options__item" data-filter=".personal">Personal</a></li>
    <li><a href="#" class="js-portfolio-option portfolio-options__item" data-filter=".tumblr">Tumblr</a></li>
    <li><a href="#" class="js-portfolio-option portfolio-options__item" data-filter=".wordpress">Wordpress</a></li>

  </ul>


</div>







<div class="row">


  <ul class="portfolio-items js-portfolio-items">


<!--     <li class="all personal maps">
      <a href="#" class="portfolio-items__link">
        <img src="img/banners/zhenghe.png" alt="Adventures of Zheng He">
      </a>
    </li>

    <li class="all data personal">
      <a href="#" class="portfolio-items__link">
        <img src="img/banners/chinacitygdp.png" alt="GDP of Chinese cities">
      </a>
    </li>

    <li class="all personal wordpress">
      <a href="#" class="portfolio-items__link">
        <img src="img/banners/haobao.png" alt="Haobao">
      </a>
    </li>

    <li class="all clients tumblr">
      <a href="#" class="portfolio-items__link">
        <img src="img/banners/lamagtumblr.png" alt="Los Angeles magazine tumblr">
      </a>
    </li>

    <li class="all clients maps">
      <a href="#" class="portfolio-items__link">
        <img src="img/banners/secretla.png" alt="Secret LA">
      </a>
    </li> -->

    <li class="all personal tumblr">
      <a href="https://www.tumblr.com/theme/39138" target="_blank" class="portfolio-items__link">
        <div class="portfolio-item-overlay">
          <h3 class="portfolio-item-overlay__title">Scriber</h3>
        </div>
        <img src="img/banners/scriber.png" alt="Scriber">
      </a>
    </li>

<!--     <li class="all personal">
      <a href="https://www.tumblr.com/theme/39138" target="_blank" class="portfolio-items__link">
        <div class="portfolio-item-overlay">
          <h3 class="portfolio-item-overlay__title">Lexicon</h3>
        </div>
        <img src="img/banners/lexicon.png" alt="Lexicon">
      </a>
    </li> -->

<!--     <li class="all clients wordpress">
      <a href="#" class="portfolio-items__link">
        <img src="img/banners/commontheory.png" alt="Common Theory SD">
      </a>
    </li>

    <li class="all personal tumblr">
      <a href="https://www.tumblr.com/theme/39138" class="portfolio-items__link">
        <img src="img/banners/generalissimo.png" alt="Generalissimo">
      </a>
    </li>

    <li class="all clients">
      <a href="#" class="portfolio-items__link">
        <img src="img/banners/saturdaynight.png" alt="Saturday Night">
      </a>
    </li>
 -->

  </ul>


</div>



<%= partial 'partials/scrolltop' %>