---
title: Profile | Ozy Wu-Li - Interactive Designer and Developer
page: Profile
---

<div class="title-row row">
  <h1 class="page-title"><%= current_page.data.page %></h1>

  <p>My name is Ozy Wu-Li (<span class="zhongwen">吴华生</span>).</p>
  <p>The internet gave me a second life.</p>

</div>



<div class="row">

<h2 class="row__title">Vita</h2>

</div>





<div class="row">

<h2 class="row__title">My Websites</h2>

</div>